body {
  text-align: center;
  /* background-color: #28314; */
}

h1 {
  display: inline-block;
  font-size: 5rem;
  border: 0;

  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
  text-shadow: 10px 10px 30px rgba(0 ,0,0,0.3);

}

footer {
  font-size: 20px;
  margin-top: 40px ;
  font-family: sans-serif;
}

.w {
  background-image: url(./images/crash.png);
}

.a {
  background-image: url(./images/kick.png);
}

.s {
  background-image: url(./images/snare.png);
}

.d {
  background-image: url(./images/tom1.png);
}

.j {
  background-image: url(./images/tom2.png);
}

.k {
  background-image: url(./images/tom3.png);
}

.l {
  background-image: url(./images/tom4.png);
}

.set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.pressed {
  box-shadow: 0 3px 4px 0 rgba(0 ,0,0,0.3);
  opacity: 0.9;
}

.drum {
  outline: none;
  border: 2px solid black;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  /* line-height: 2; */
  font-weight: 800;
  color: yellow;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  /* display: inline-block; */
  width: 100%;
  height: 200px;
  text-align: center;
  margin: 20px;
  /* background-color: white; */
}
